<div class="mb-2 mt-2 ms-5">
    <h1 class="display-6">Register</h1>
  </div>
  
  <hr />
  
  <div class="container-fluid ms-5 mt-4">
    <form [formGroup]="registerOrderForm" (ngSubmit)="register()">
      <div class="row">
        <div class="col-5">
          <div class="mb-3">
            <label for="customerName" class="form-label">Customer Name</label>
            <input
              type="text"
              class="form-control"
              id="customerName"
              aria-describedby="inputText"
              formControlName="customerName"
              pattern="[a-zA-Z\s]+"
              oninput="this.value = this.value.replace(/[^A-Za-z\s]/g, '')"
            />
          </div>
        </div>
      </div>
        <div class="row">
        <div class="col-1"></div>
        <div class="col-2 mt-4">
          <div class="mb-3 mt-2">
            <button
              type="submit"
              class="btn btn-dark"
              [disabled]="!registerOrderForm.valid"
              (click)="refreshPagAfterButton('/orders')"
            >
              Submit
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>