<div class="container mt-3">
    <h1>Items</h1>
    <form (submit)="addItem()" class="mb-3">
      <div class="row g-2">
        <div class="col">
          <input
            type="number"
            [(ngModel)]="newItem.customerOrderId"
            name="customerOrderId"
            placeholder="Customer Order ID"
            class="form-control"
            required
          />
        </div>
        <div class="col">
          <input
            type="number"
            [(ngModel)]="newItem.coffeeId"
            name="coffeeId"
            placeholder="Coffee ID"
            class="form-control"
            required
          />
        </div>
        <div class="col">
          <input
            type="number"
            [(ngModel)]="newItem.quantity"
            name="quantity"
            placeholder="Quantity"
            class="form-control"
            required
          />
        </div>
        <div class="col">
          <button type="submit" class="btn btn-primary">Add</button>
        </div>
      </div>
    </form>
  
    <ul class="list-group">
      <li
        *ngFor="let item of items"
        class="list-group-item d-flex justify-content-between"
      >
        Order ID: {{ item.customerOrder.id }}, Coffee ID: {{ item.coffee.id }},
        Quantity: {{ item.quantity }}
        <button
          class="btn btn-danger btn-sm"
          (click)="deleteItem(item.customerOrder.id, item.coffee.id)"
        >
          Delete
        </button>
      </li>
    </ul>
  </div>
  