<div class="mb-2 mt-2 ms-5">
  <h1 class="display-6">Register Item</h1>
</div>

<hr />

<div class="container-fluid ms-5 mt-4">
  <form [formGroup]="registerItemForm" (ngSubmit)="register()">
    <div class="row">
      <div class="col-5">
        <div class="mb-3">
          <label for="coffee" class="form-label">Coffee</label>
          <select class="form-control" formControlName="coffeeId" (change)="onCoffeeChange()">
            <option value="" disabled>Select a Coffee</option>
            <option *ngFor="let coffee of coffees" [value]="coffee.id">{{ coffee.name }}</option>
          </select>
        </div>
      </div>

      <div class="col-2">
        <div class="mb-3">
          <label for="price" class="form-label">Price</label>
          <input type="text" class="form-control" id="price" [value]="selectedCoffee?.price | currency : 'BRL'" disabled />
        </div>
      </div>

      <div class="col-2">
        <div class="mb-3">
          <label for="quantity" class="form-label">Quantity</label>
          <input type="number" class="form-control" id="quantity" formControlName="quantity" min="1" />
        </div>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-2">
        <button type="button" class="btn btn-secondary" (click)="cancel()">Cancel</button>
      </div>
      <div class="col-2">
        <button type="submit" class="btn btn-dark" [disabled]="!registerItemForm.valid">Submit</button>
      </div>
    </div>
  </form>
</div>
